 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mission</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h4>Technology</h4>
                    <p>There is more technology available to golfers than ever
                    before, but significant progress is still needed to make it
                    accessible to everyone. We are interested in exploiting low
                    cost sensors to help the golfer.</p>
                </div>
                <div class="col-lg-3">
                    <h4>Data</h4>
                    <p>Today's technology produces more data
                    about the golfer and the golf swing than ever before, but
                    often it is locked up in proprietary systems and formats.
                    We are interested in changing this by developing open data
                    standards.</p>
                </div>
                <div class="col-lg-3">
                    <h4>Analytics</h4>
                    <p>Analytical methods using data gathered from advanced
                    technology are radicalizing every field around us. The golf
                    world, however, is only scratching the surface of what can
                    be done. We want to change this.</p>
                </div>
                <div class="col-lg-3">
                    <h4>People</h4>
                    <p>Ultimately, golfers are people and people's abilities,
                    natural tendencies, and desires cover a broad spectrum. We
                    want to make sure technology works for the individuals to
                    best help them enjoy this great sport.</p>
                </div>
            </div>
        </div>
    </section>
